
.container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    height: 100%;
}

.exit {
    margin: 1rem 0;
    font-family: Poppins-Bold;
    font-size: 1.2rem;
}

.onBoarding_details {
    margin: 1rem 0;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onBoarding_svg {
     width: 70%;
     height: 55%;
    
}

.onBoarding_text {
    text-align: center;
    font-size: 1.1rem;
}

.onBoarding_text h3 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-family: Poppins-Bold;
}


.create_profile {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.create_profile a {
  display: block;
  background-color: #066dfe;
  padding: 1rem;
  width: 70%;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}
