.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
}

.back {
  width: 100%;
  height: 10%;
  margin-bottom: 1rem;
  display: flex;
}

.back_button {
  height: 100%;
  width: 10%;
  display: block;
}

.back h2 {
  align-self: center;
  text-align: center;
  line-height: 1rem;
  width: 90%;
  font-size: 1.4rem;
}

.form {
  margin-bottom: 1rem;
  width: 100%;
}

.form_getGoals {
  height: 95%;
}

.svg {
  height: 3rem;
  width: 3rem;
  margin: 1rem 0;
}

.form h1 {
  font-family: Poppins-Bold;
  font-size: 1.4rem;
  line-height: 2rem;
}

.percent_svg {
  margin: 1rem 0;
  margin-bottom: 0.5rem;
}

.form_input {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form_input > * {
  margin: 0.25rem 0;
}

.med_name {
  margin-top: 10rem;
  text-align: center;
}

.med_name_svg {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 2rem;
}

.med_name_input {
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  border-color: transparent;
  background-color: #E9E9E9;
  color: #575757;
}


.med_name_input:focus {
  outline: none;
  border-color: #066dfe;
}

.medform_list {
  list-style: none;
}

.medform_list li {
  border-bottom: 1px solid #C7C7C7;
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
  margin: 1rem 0;
}

.medform_list_item {
  display: flex;
}

.medform_svg {
  height: 1.5rem;
  width: 1.5rem;
}

.medform_list_item div:last-child{
  margin: 0 0.5rem;
}

.next_question {
  width: 100%;
  display: flex;
  justify-content: center;
}

.next_question a {
  display: block;
  background-color: #066dfe;
  padding: 1rem;
  width: 70%;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}
